html {
    background: #6000b0 url(/img/pat-bg.png) no-repeat center center fixed;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    background-size: cover; 
}

main, header, footer {
    width: 42rem;
    margin: 0 auto;
}

main {
    background-color: #8b00ff;
    padding: 1rem 2rem;
    border: 2px dotted #fff;
    margin-bottom: 2rem;
    position: relative;
}

main:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #a943ff url(/claris/claris02.gif) repeat;
    transform: rotate(4deg);
    z-index: -1;
}

p, a, h1, h2, h3, h4, li, figcaption {
    font-family: Verdana;
    color: #ddd;
    line-height: 1.5;
}

li {
    line-height: 2.3;
}

a {
    font-weight: 800;
    text-decoration: none;
    border-bottom: 2px dotted #96ddff;
    padding: 4px 8px;
    padding-bottom: 5px;
    background: #a943ff url(/claris/claris02.gif) repeat;
    text-shadow: 2px 2px 0 #48413a;
    transition: color 0.3s;
    color: #96ddff;
}

a:hover {
    background: none;
    color: #fff;
}

hr {
    border: 1px solid #560fff;
}

img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.frame {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

.frame::after, .post::after {
    content: '';
    display: block;
    clear: both;
}

.frame img, .post figure {
    float: left;    
    margin-right: 1rem;
}

.list, .listeninglist, .bloglist {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h2 + .byline {
    margin-top: -1rem;
}

.post figure {
    width: 200px;
    margin-right: 4rem;
}

nav ul {
    padding: 0;
    padding-bottom: 1.5rem;
}

nav ul li {
    display: inline-block;
    margin-right: 0.5rem;
    font-size: 120%;

}

footer nav a {
    font-size: 80%;
}

header h1 a {
    background: none;
    color: #fff;
}
