@font-face {
    font-family: 'kuraleregular';
    src: url('fonts/kurale-regular-webfont.woff2') format('woff2'),
         url('fonts/kurale-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes colorshift {
    0% {
        color: #560fff;
    }

    50% {
        color: #f80fff;
    }

    100% {
        color: #560fff;
    }
}

main {
    width: 40rem;
    margin: 0 auto;
}

p, a, h1, h2, h3, h4, li, figcaption {
    font-family: 'kuraleregular', serif;
    color: #111;
    line-height: 1.5;
}

a {
    font-weight: 800;
}

hr {
    border: 1px solid #560fff;
}

img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.frame {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #560fff;
}

.frame::after, .post::after {
    content: '';
    display: block;
    clear: both;
}

.frame img, .post figure {
    float: left;    
    margin-right: 1rem;
}

.post figure {
    width: 200px;
    margin-right: 4rem;
}

nav ul {
    padding: 0;
    padding-bottom: 1.5rem;
}

nav ul li {
    display: inline-block;
    margin-right: 0.5rem;
    font-size: 120%;

}

h1 a {
    animation: colorshift 12s ease infinite;
}

nav a {
    animation: colorshift 16s ease infinite;
}
