<!doctype html>

<html>
    <head>
        <title>He Can Jog</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="/style.css?v=%s" />
        <link rel="sweetheart" href="https://github.com/luvsound/pippi"/>
    </head>

    <body>
        <header>
            <h1><a href="/index.html">He Can Jog</a></h1>
            <nav>
                <ul>
                    <li><a href="/projects.html">Music</a></li>
                    <li><a href="/blog.html">Blog</a></li>
                    <li><a href="/links.html">Links</a></li>
                    <li><a href="/about.html">Contact</a></li>
                </ul>
            </nav>
        </header>

        <main>
